@charset "UTF-8";

@font-face {
    font-family: 'Comprehension';
    src: url(fonts/comprehension/Comprehension-SemiBold.otf) format(opentype);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Comprehension", serif;
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 98vh;
}

.container {
    border: 2px solid #b9b9b9;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 3px #b9b9b9;

    color: #363636;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.column {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    padding: 18px;
    text-align: center;
    width: 70%;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Pridi", serif;
    font-style: normal;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Pridi", serif;
    font-style: normal;
}

span {
    color: #FFA3AF;
    font-weight: 300;
    font-family: "Pridi", serif;
}

a {
    color: #93488d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.aviso {
    padding: 5px 50px;
}

.conteudo {
    text-align: justify;
}

#btn {
    background-color: #93488d;
    box-shadow: 5px 5px 0 #000;
    border: none;
    border-radius: 10px;

    color: #fff;
    cursor: pointer;

    margin: 0;
    padding: 20px 70px;
    transition: .3s;
    text-align: center;
}

#btn:active {
    box-shadow: 0 0 0 #000;
    transform: translate(6px, 6px);
}

.principal {
    background-color: #f4f4fd;
    display: grid;
    grid-template-rows: auto auto 10%;
}

.ilustracao {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    width: 15%;
}

footer {
    text-align: start;
}

form {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    position: relative;
}

.input-field {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;

    color: black;
    caret-color: #93488d;
    
    font-weight: 500;
    font-family: 'Comprehension', serif;

    outline: none;
    padding: 12px 15px;
    transition-duration: 0.3s;
}

.username-label {
    position: relative;
    opacity: 0;
    top: -65px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Comprehension', serif;
    overflow: hidden;
    transition: 0.3s linear;
    align-self: flex-start;
}

.userIcon {
    position: absolute;
    width: 19px;
    top: -23px;
    opacity: 0;
    transition: 0.3s linear;
}

.input-field:focus~.username-label,
.input-field:valid~.username-label {
    transform: translateX(30px);
    opacity: 1;
}

.input-field:focus~ .userIcon,
.input-field:valid~ .userIcon {
  transform: translateX(8px);
  opacity: 1;
}

.input-field:focus,
.input-field:valid {
    background-color: #ddd;
    transition-duration: .3s;
}

@media screen and (max-width: 800px) {
    body {
        height: auto;
    }

    .container {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;

        border: 2px solid #b9b9b9;
        border-radius: 20px;
        box-shadow: 5px 5px 3px #b9b9b9;
        margin: 40px 5px;
        padding: 20px;
    }

    .principal {
        border-radius: 20px;
        width: auto;
    }

    .column {
        width: auto;
    }

    .logo {
        width: 15%;
    }

    .aviso {
        width: 100%;
        padding: 5px;
    }

    footer a {
        display: block;
        justify-content: flex-start;
    }

    .input-field {
        width: 85%;
    }
}