/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 25px;
    background-color: #f2f2f2;
    margin-top: 3rem;
}

footer a {
    display: block;
    line-height: 2rem;
    text-decoration: none;
    color: #626262;
}

.networks {
    width: 70%;
}

.networks div {
    display: flex;
    justify-content: space-around;
}

.networks img {
    width: 2rem;
}