.input {
    padding: 20px;
    margin: 4rem; 
    justify-self: center;  
}

.input input {
    padding: 15px;
    border-radius: 6px;
    border: none;
    background-color: #e5e5e5;
}

.input button[type="submit"] {
    color: #fff;
    background-color: #f26430;
    border: none;
    border-radius: 6px;
    padding: 15px 25px;
}